services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: grill-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: grill-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=grill_db
    ports:
      - "5433:5432"

volumes:
  postgres_data:
